/* Fabricio Ceppi Portfolio - Estilos Principales */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");

html {
  font-size: 100%;
}

* {
  font-family: "Work Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
*[role="button"] {
  cursor: pointer;
}

*:focus {
  outline: none;
  border: 2px dashed #ff364a;
}

*::selection {
  background-color: transparent;
}

/* Text Classes */

.tiny {
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.small {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.medium {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.2rem;
}

.big {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}

.white {
  color: white;
}

.red {
  color: #ff364a;
}

.weak-blue {
  color: #3b4263;
}

.blue {
  color: #0c2e4e;
}

.grey {
  color: #9a9a9a;
}

.semi-bold {
  font-weight: 600;
}

main {
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    145deg,
    #06070e 0 20%,
    #1c142c 70%,
    #2e141e
  );
}

/* Hero */

.hero {
  height: 100vh;
  position: relative;
  padding: 2rem;
  z-index: 2;
}

.main-heading {
  margin-top: 4.5rem;
}

.location {
  display: flex;
  align-items: center;
}

.location > p {
  margin-left: 0.7rem;
}

/* Canvas */

.visuals {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* NavBar */

.menu {
  position: fixed;
  left: 0;
  top: 0;
  padding: 2rem;
  overflow: hidden;
  transition: padding-left 0s 400ms;
}

.nav-back {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  backdrop-filter: blur(4px);
  z-index: -1;
  transition: transform 300ms cubic-bezier(1, 0.02, 0.59, 0.75) 200ms;
}

.menu-button {
  margin-top: 3px;
  margin-left: 1px;
  display: inline-block;
}

.menu-button > div {
  width: 22px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
  transition: transform 300ms;
}

.menu-button > div:nth-of-type(2) {
  margin: 4px 0;
}

.menu-items {
  margin-top: 4rem;
  max-height: 0;
  transition: max-height 0s 0.5s;
}

.item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  opacity: 0;
  transition: transform 200ms, opacity 200ms;
  transform-origin: bottom;
}

.item:nth-of-type(4) {
  transition-delay: 50ms, 50ms;
}

.item:nth-of-type(3) {
  transition-delay: 100ms, 100ms;
}

.item:nth-of-type(2) {
  transition-delay: 150ms, 150ms;
}

.item:first-of-type {
  transition-delay: 200ms, 200ms;
}

.item > .item-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item > .item-name {
  display: inline-block;
  width: 9ch;
  margin-bottom: 0;
  margin-left: 1rem;
}

/* Opened menu */

.menu.active {
  padding-left: 1.5rem;
  border-bottom-right-radius: 8px;
  z-index: 6;
  transition: padding-left 0s 0s;
}

.menu.active .menu-items {
  max-height: 210px;
  transition: max-height 0s 0s;
}

.menu.active > .nav-back {
  transform: scale(15);
  transition-delay: 50ms;
}

.menu.active > .menu-button {
  margin-left: 9px;
}

.menu.active .item {
  transform: scaley(1);
  opacity: 1;
  transition: transform 200ms, opacity 300ms;
}

.menu.active .item:first-of-type {
  transition-delay: 300ms, 300ms;
}

.menu.active .item:nth-of-type(2) {
  transition-delay: 400ms, 400ms;
}

.menu.active .item:nth-of-type(3) {
  transition-delay: 500ms, 500ms;
}

.menu.active .item:nth-of-type(4) {
  transition-delay: 600ms, 600ms;
}

.menu.active .menu-button > div:first-of-type {
  transform: translateY(3.5px) rotate(45deg);
}

.menu.active .menu-button > div:nth-of-type(2) {
  transform: translateY(-3.5px) rotate(-45deg);
}

.menu.active .menu-button > div:last-of-type {
  opacity: 0;
}

/* End of Hero */

.separator {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(1px);
}

/* About */

.about {
  padding: 1rem;
  margin-bottom: 2.5rem;
}

.about p {
  margin: 1.5rem 0;
}

.about > div:first-child {
  margin: 1rem;
}

.skill-set > h2 {
  margin: 1em;
}

.skill-set > div {
  background-color: #261d3d;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1.5em 2em -0.5em #c2c2c2;
}

.skill {
  margin: 0.65rem 0;
  display: flex;
  align-items: center;
}

.skill > .small {
  margin: 0 0.5rem;
  flex: 0 0 10ch;
}

.stars > * {
  margin-right: 3px;
}

.skill-set ul {
  margin-bottom: 2.5rem;
}

.action-button {
  background-color: #ff364a;
  border: 1px solid white;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  margin: 0;
  transition: transform 300ms;
  display: inline-block;
}

.action-button:focus {
  border: 3px dashed white;
}

@media (hover: hover) {
  .action-button:hover {
    transform: scale(1.1, 1.1);
  }
}

/* Bottom Sections */

.night-background {
  background-image: linear-gradient(145deg, #06070e 0 20%, #1c142c);
}

/* Projects */

.projects {
  padding: 3rem 2rem;
}

.projects .big {
  margin-bottom: 2rem;
}

.project-links::after {
  content: "";
  display: block;
  clear: both;
}

.project-links > a {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  display: block;
  float: left;
}

.project-links > a:first-of-type {
  padding-top: 1px;
}

.projects > div:nth-of-type(2) {
  margin-top: 3rem;
}

.project-displayer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 2rem 1rem;
  position: relative;
}

.project-displayer > a {
  display: block;
}

.project-displayer img {
  display: block;
  width: 100%;
  box-shadow: 0 1rem 2rem -0.5rem rgba(0, 0, 0, 0.6);
  transition: transform 300ms, opacity 400ms;
}

@media (hover: hover) {
  .project-displayer:hover img {
    opacity: 0.7;
    transform: rotate(-1deg) scale(1.05, 1.05);
  }
}

.controls {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  padding: 3px;
}

.controls svg {
  backdrop-filter: invert(15%);
  border-radius: 50%;
}

@media (hover: hover) {
  .controls {
    opacity: 0;
  }

  .project-displayer:hover > .controls {
    opacity: 1;
  }
}

.techs {
  display: flex;
  justify-content: space-between;
}

.techs > div {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 8px;
  background-color: #261d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  transition: transform 100ms;
}

@media (hover: hover) {
  .techs > div:hover {
    transform: scale(1.2, 1.2);
  }
}

.projects-list li {
  font-size: 1rem;
  color: #c2c2c2;
  transition: color 300ms;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem 0;
  border-top: 1px solid #9a9a9a;
}

.projects-list ul {
  border-bottom: 1px solid #9a9a9a;
}

@media (hover: hover) {
  .projects-list li:hover {
    color: #ff364a;
  }
}

.projects-list li[aria-pressed="true"] {
  color: #ff364a;
}

/* Contact */

.contact {
  padding: 0 2rem;
  margin-bottom: 5rem;
  text-align: center;
}

.contact .small {
  margin: 0;
}

.contact-button {
  border: 1px solid #363dff;
  padding: 0.7rem 1.5rem;
  border-radius: 2rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  color: white;
  font-weight: 600;
  transition: background-color 200ms, transform 200ms;
}

.contact-button:focus {
  border: 3px dashed #363dff;
}

@media (hover: hover) {
  .contact-button:hover {
    background-color: rgba(203, 157, 255, 0.1);
    transform: scale(1.1, 1.1);
  }
}

.contact-button:last-of-type {
  border-color: #ff364a;
}

.contact-button svg {
  margin-right: 0.5rem;
}

/* Footer */

footer {
  margin: 1rem;
  margin-bottom: 0;
  padding: 1.5rem 1rem;
  border-top: 1px dashed #3b4263;
  display: flex;
  justify-content: space-between;
}

/* Basic animations */

.appear-to-left {
  animation-name: appear-to-left;
  animation-duration: 700ms;
  animation-fill-mode: backwards;
}

.appear-to-left:nth-child(2) {
  animation-delay: 200ms;
}

.appear-to-left:nth-child(3) {
  animation-delay: 400ms;
}

.appear-to-left:nth-child(4) {
  animation-delay: 600ms;
}

.appear-to-left:nth-child(5) {
  animation-delay: 800ms;
}

.appear {
  animation-name: appear;
  animation-duration: 700ms;
  animation-fill-mode: backwards;
}

@keyframes appear-to-left {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Responsiveness */

@media only screen and (min-width: 576px) {
  .skill {
    float: left;
    margin: 0.65rem 0 0 0;
    width: 50%;
  }

  .skill-set ul::after {
    content: "";
    display: block;
    clear: both;
  }

  .project-displayer {
    padding: 4rem 2rem;
  }

  .controls {
    padding: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .techs {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 992px) {
  .big {
    font-size: 2.5rem;
  }

  section {
    max-width: 900px;
    margin: 0 auto;
    border-left: 1px dashed rgba(59, 66, 99, 0.8);
    border-right: 1px dashed rgba(59, 66, 99, 0.8);
  }

  .main-heading {
    margin-top: 0;
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
  }

  .item {
    cursor: pointer;
  }

  .about {
    display: flex;
    position: relative;
    margin-bottom: 0;
    padding: 4rem 2rem;
    gap: 2rem;
    border-left: 1px dashed #c2c2c2;
    border-right: 1px dashed #c2c2c2;
  }

  .about > div {
    flex: 1 1 50%;
  }

  .about > div:first-child {
    margin: 0;
  }

  .skill {
    width: 100%;
  }

  .skill-set ul {
    margin: 0.5rem;
    margin-bottom: 1rem;
  }

  .action-button {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
  }

  .projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 4rem;
  }

  .projects > div {
    flex: 1 1 48%;
    flex: 1 1 calc(50% - 1rem);
  }

  .techs {
    justify-content: space-between;
  }

  .projects-list {
    width: 100%;
    margin-top: 3rem;
  }

  .projects-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .projects-list li {
    flex: 1 1 50%;
  }

  .techs > div {
    margin-bottom: 0;
  }

  .contact {
    padding: 6rem 2rem;
    margin-bottom: 0;
  }

  nav {
    margin-bottom: 0;
  }

  footer {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }

  .nav-back {
    display: none;
  }

  .menu,
  .menu.active {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    padding: 0;
    border-radius: 8px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
    transition: background-color 500ms;
  }

  .menu-items,
  .menu.active .menu-items {
    margin-top: 0;
    max-height: initial;
  }

  .item {
    transform: scaleY(1);
    opacity: 1;
    margin: 0.5rem;
    border-radius: 8px;
    transition: background-color 300ms;
  }

  .item:first-of-type {
    transition-delay: 0s;
  }

  .item:nth-of-type(2) {
    transition-delay: 0s;
  }

  .item:nth-of-type(3) {
    transition-delay: 0s;
  }

  .item:nth-of-type(4) {
    transition-delay: 0s;
  }
  .item > .item-icon {
    height: 3.4rem;
    width: 3.5rem;
    float: left;
  }

  .item > .item-name {
    width: 0;
    margin: 0;
    opacity: 0;
    transition: all 0.5s;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
  }

  .project-displayer {
    padding: 2rem 2rem;
  }

  @media (hover: hover) {
    .menu:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }

    .menu:hover .item-name {
      width: 9ch;
      margin-left: 1rem;
      opacity: 1;
    }

    .item:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
